<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-2 d-none d-lg-block my-class">
            <a class="d-flex align-items-center   text-decoration-none"  href="#navbar-vertical" style="height: 67px; ">
                <img src="../../../assets/img/logo.jpg" width="70px" height="60px">
        </a>
       
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a routerLink="home" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0"><span class="text-primary">Sea</span>Courses</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav py-0">
                        <a routerLink="home" class="nav-item nav-link " style="color: #ff8a1d;">الرئيسية </a>
                        <a routerLink="about" class="nav-item nav-link" style="color: #ff8a1d;">قالو عننا</a>
                        <a routerLink="courses" class="nav-item nav-link" style="color: #ff8a1d;">الكورسات</a>
                        <a routerLink="leader" class="nav-item nav-link" style="color: #ff8a1d;">قائد الفريق</a>
                        <a routerLink="teachers" class="nav-item nav-link" style="color: #ff8a1d;">فريقنا</a>
                        <div class="nav-item dropdown">
                            <a  class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #ff8a1d;">الدورات</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a routerLink="medical" class="dropdown-item">المصطلحات الطبية</a>
                                <a routerLink="englishMedical" class="dropdown-item">تدريس اللغة الإنجليزية الطبية </a>
                                <a routerLink="IELTS" class="dropdown-item">دورات التحضير لامتحان IELTS</a>
                                <a routerLink="english" class="dropdown-item">تعليم اللغة الانجليزية </a>
                            </div>
                        </div>
                        <a routerLink="photos" class="nav-item nav-link" style="color: #ff8a1d;">معرض الصور</a>
                        <a routerLink="contact" class="nav-item nav-link" style="color: #ff8a1d;">اتصل بنا</a>
                        <!-- <a routerLink="dash" class="nav-item nav-link">لوحة التحكم</a> -->
                    </div>
                    <div *ngIf="isLoggedIn(); then loggedInTemplate else loggedOutTemplate"></div>
                    <ng-template #loggedInTemplate >
                        <div class="navbar-nav py-0" *ngIf="authService.getUserDetail() as userDetail">
                            <a class="nav-item nav-link" routerLink = "dash" style="color: #ff8a1d;">{{userDetail.fullName}} Dashboard</a>
                            <button class="nav-item nav-link" (click)="logout()" style="color: #ff8a1d;">
                                <i class="bi bi-box-arrow-right" style="color: #ff8a1d;"></i> Logout
                            </button>
                           
                        </div>
                    </ng-template>

                    <ng-template #loggedOutTemplate>
                        
                    </ng-template>
                    <!-- <a class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="">Join Now</a> -->
                </div>
            </nav>
        </div>
    </div>
</div>