<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase text-right">تدريس اللغة الإنجليزية الطبية
            </h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">الرئيسية</a></p>
                <i class="fa fa-angle-double-left pt-1 px-3"></i>
                <p class="m-0 text-uppercase">الدورات
                </p>
                <i class="fa fa-angle-double-left pt-1 px-3"></i>
                
                <p class="m-0 text-uppercase"> تدريس اللغة الإنجليزية الطبية

                </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <img
            class="img-fluid rounded mb-4 mb-lg-0"
            src="assets/img/medicalEnglish.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-7">
          <div class="text-right mb-4">
            <h1>  اللغة الإنجليزية الطبية
            </h1>
          </div>
          <p class="text-right">توفر أكاديمية SEA دورات اللغة الإنجليزية للأغراض الطبية للتمريض والطب والصيدلة والمختبرات الطبية وجميع الطاقم الطبي. تساعدك مثل هذه الدورات على التواصل بسهولة مع الكادر الطبي أثناء فترة الدراسة بالكلية والتدريب العملى ومرحلة الامتياز وعند الانخراط بالعمل في المستشفى. فريقنا يتمتع بخيرة طويلة تمتد الى أكثر من 20 عاما في تدريس اللغة الانجليزية الطبية. احجز مقعدك من الآن ولا تتردد في الاتصال بنا...</p>
          <button class="btn btn-primary" (click)="navigateToCheck()">Booking Now</button>

        </div>
      </div>
    </div>
  </div>

  <app-whatsup></app-whatsup>
