<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase text-right">القائد</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">الرئيسيه</a></p>
                <i class="fa fa-angle-double-left pt-1 px-3"></i>
                <p class="m-0 text-uppercase">القائد</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/leader.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-right mb-4">
                    <h5 class="text-primary text-uppercase mb-3" >قائد الفريق</h5>
                    <h1>د. هاني الجندي</h1>
                </div>
                <p class="text-right">الدكتور هاني الجندي هو أستاذ اللغة الإنجليزية المساعد. درس البكالوريوس والماجستير والدكتوراه في تدريس اللغة الإنجليزية. له خبرة طويلة في تدريس اللغة الإنجليزية والتحضير للأيلتس لأكثر من 20 عامًا. يتمتع بخبرة عالية في تدريس اللغة الإنجليزية العامة - اللغة الإنجليزية للأعمال - اللغة الإنجليزية لأغراض متخصصة(ESP) - اللغة الإنجليزية للأغراض الطبية (EMP) والمصطلحات الطبية.</p>
            </div>
        </div>
    </div>
</div>

<app-whatsup></app-whatsup>
