<div class="container-fluid page-header" style="margin-bottom: 90px">
  <div class="container">
    <div
      class="d-flex flex-column justify-content-center"
      style="min-height: 300px"
    >
      <h3 class="display-4 text-white text-uppercase text-right">معرض الصور</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0 text-uppercase">
          <a class="text-white" href="">الرئيسية</a>
        </p>
        <i class="fa fa-angle-double-left pt-1 px-3"></i>
        <p class="m-0 text-uppercase">معرض الصور</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center mb-5">
      <h3 class="text-primary text-uppercase mb-3">معرض الصور</h3>
      <h4>أمثلة حيَّة رائعة لأعمالنا</h4>
    </div>
    <div class="row"  *ngFor="let item of photos">
      <div class="col-lg-12">
        <div class="row pb-3">
          <!-- Repeat this block for each image -->
          <div class="col-lg-3 col-md-6 mb-4">
            <div
              class="blog-item position-relative overflow-hidden rounded mb-2"
            >
              <img
                class="img-fluid blog-img"
                [src]="item.imageUrl"
                alt=""
              />
            </div>
          </div>
          <!-- End of image block -->
        
        </div>
      </div>
    </div>
  </div>
</div>

<app-whatsup></app-whatsup>
