<div class="container-fluid p-0 pb-5 mb-5">
  <div
    id="header-carousel"
    class="carousel slide carousel-fade"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#header-carousel" data-slide-to="1"></li>
      <li data-target="#header-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="min-height: 300px">
        <img
          class="position-relative w-100"
          src="assets/img/carousel-1.jpg"
          style="min-height: 300px; object-fit: cover"
        />
        <div
          class="carousel-caption d-flex align-items-center justify-content-center"
        >
          <div class="p-5" style="width: 100%; max-width: 900px">
            <h5 class="text-white text-uppercase mb-md-3">
              أكاديمية اللغة الإنجليزية المتخصصة (SEA) Specific English Academy 
            </h5>
            <h4 class="display-4 text-white mb-md-4">
              هى أكاديمية واعدة متخصصة في تعليم اللغة الإنجليزية
            </h4>
            <h5 class="text-white text-uppercase mb-md-3">تعرف على خدماتنا وانضم إلى مجتمعنا اليوم

            </h5>
            
            
          </div>
        </div>
      </div>
      <div class="carousel-item" style="min-height: 300px">
        <img
          class="position-relative w-100"
          src="assets/img/carousel-2.jpg"
          style="min-height: 300px; object-fit: cover"
        />
        <div
          class="carousel-caption d-flex align-items-center justify-content-center"
        >
        <div class="p-5" style="width: 100%; max-width: 900px">
          <h5 class="text-white text-uppercase mb-md-3">
            أكاديمية اللغة الإنجليزية المتخصصة (SEA) Specific English Academy 
          </h5>
          <h4 class="display-4 text-white mb-md-4">
            هى أكاديمية واعدة متخصصة في تعليم اللغة الإنجليزية
          </h4>
          <h5 class="text-white text-uppercase mb-md-3">تعرف على خدماتنا وانضم إلى مجتمعنا اليوم

          </h5>
          
          
        </div>
        </div>
      </div>
      <div class="carousel-item" style="min-height: 300px">
        <img
          class="position-relative w-100"
          src="assets/img/carousel-3.jpg"
          style="min-height: 300px; object-fit: cover"
        />
        <div
          class="carousel-caption d-flex align-items-center justify-content-center"
        >
        <div class="p-5" style="width: 100%; max-width: 900px">
          <h5 class="text-white text-uppercase mb-md-3">
            أكاديمية اللغة الإنجليزية المتخصصة (SEA) Specific English Academy 
          </h5>
          <h4 class="display-4 text-white mb-md-4">
            هى أكاديمية واعدة متخصصة في تعليم اللغة الإنجليزية
          </h4>
          <h5 class="text-white text-uppercase mb-md-3">تعرف على خدماتنا وانضم إلى مجتمعنا اليوم

          </h5>
          
          
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img
          class="img-fluid rounded mb-4 mb-lg-0"
          src="assets/img/logo.jpg"
          alt=""
        />
      </div>
      <div class="col-lg-7">
        <div class="text-right mb-4">
          <h1>من نحن</h1>
        </div>
        <p>
          أكاديمية اللغة الإنجليزية المتخصصة (SEA) هي أكاديمية لتعليم اللغة
          الإنجليزية تقدم دورات في:
        </p>
        <ul class="list-inline text-right text-black m-0">
          <li class="py-2">
            <i class="fa fa-check text-primary ml-2"></i> اللغة الإنجليزية
            العامة للكبار
          </li>
          <li class="py-2">
            <i class="fa fa-check text-primary ml-2"></i>اللغة الإنجليزية العامة
            للأطفال
          </li>
          <li class="py-2">
            <i class="fa fa-check text-primary ml-2"></i>اللغة الإنجليزية الطبية
          </li>
          <li class="py-2">
            <i class="fa fa-check text-primary ml-2"></i>اللغة الإنجليزية
            للأعمال
          </li>
          <li class="py-2">
            <i class="fa fa-check text-primary ml-2"></i>دورات تحضيرية لامتحان
            IELTS
          </li>
          <li class="py-2">
            <i class="fa fa-check text-primary ml-2"></i>المصطلحات الطبية
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="service_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2 class="text2">ماذا يقول عملاؤنا</h2>
      <p class="text3">
        مئات العملاء يعتمدون على خداماتنا.. وإليك بعض مما قالوه عن خداماتنا:
      </p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 mx-auto">
        <div class="box">
          <div class="detail-box">
            <p>
              “I’ve never been more impressed with any other services. I’ve
              tried so many times to study IELTS with many teachers but I really
              enjoyed studying with Dr.Hani
            </p>
            <br />
            <h5 class="text-left">MOMEN</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mx-auto">
        <div class="box">
          <div class="detail-box">
            <p>
              I would like to thank Dr.Hani for his support throughout the IELTS
              preparation course. He has his own style in teaching that make it
              easy to get high band.
            </p>
            <br />

            <h5 class="text-left">Medicine student :Janna</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mx-auto last-col">
        <div class="box">
          <div class="detail-box">
            <p>
              I would like to thank MS Safina for her interest. She was really
              taking care of the psychological side and worked hard on boosting
              my confidence in speaking
            </p>
            <br />
            <h5 class="text-left">Engineer : Hussam</h5>
          </div>
        </div>
      </div>



    </div>

    <div class="row">
<!-- 
        <div class="col-sm-6 col-md-4 mx-auto mb-4">
            <div class="box">
              <div class="detail-box">
                <p>
                    “I honestly could not be more pleased with the way of teaching of Dr.Hani. So creative and helpful.”
                </p>
                <br />
                <h5 class="text-left">Medical Student : Salma</h5>
              </div>
            </div>
          </div> -->

          
        <div class="col-sm-6 col-md-4 mx-auto mb-4" *ngFor="let item of Opinions">
          <div class="box">
            <div class="detail-box">
              <p>
                  {{item.opinion}}
              </p>
              <br />
              <h5 class="text-left">{{item.sender}}</h5>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>


<div class="container-fluid py-5">
  <div class="container pt-5 pb-3">
      <div class="text-center mb-5">
          <h3 class="text-primary text-uppercase mb-3" >خدماتنا
          </h3>
          <h4>تقدم SEA Academy خدمات من الدرجة الأولى في تدريس اللغة الإنجليزية بناءً على سنوات طويلة من الخبرة في صناعة تعليم اللغة الانجليزية.</h4>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="cat-item position-relative overflow-hidden rounded mb-2">
                  <img class="img-fluid" src="assets/img/cat-1.jpg" alt="">
                  <a class="cat-overlay text-white text-decoration-none" href="english">
                      <h5 class="text-white font-weight-medium">تدريس لغة إنجليزية عامة</h5>
                      <span>أقرا المزيد</span>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="cat-item position-relative overflow-hidden rounded mb-2">
                  <img class="img-fluid" src="assets/img/cat-2.jpg" alt="">
                  <a class="cat-overlay text-white text-decoration-none" href="englishMedical">
                      <h5 class="text-white font-weight-medium">تدريس اللغة الإنجليزية الطبية</h5>
                      <span>أقرا المزيد</span>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="cat-item position-relative overflow-hidden rounded mb-2">
                  <img class="img-fluid" src="assets/img/cat-3.jpg" alt="">
                  <a class="cat-overlay text-white text-decoration-none" href="IELTS">
                      <h5 class="text-white font-weight-medium">دورات التحضير لامتحان IELTS</h5>
                      <span>أقرا المزيد</span>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="cat-item position-relative overflow-hidden rounded mb-2">
                  <img class="img-fluid" src="assets/img/cat-4.jpg" alt="">
                  <a class="cat-overlay text-white text-decoration-none" href="medical">
                      <h5 class="text-white font-weight-medium">مصطلح طبى</h5>
                      <span>أقرا المزيد</span>
                  </a>
              </div>
            </div>
      </div>
  </div>
</div>



    