<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase text-right">تعليم اللغة الانجليزية

            </h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">الرئيسية</a></p>
                <i class="fa fa-angle-double-left pt-1 px-3"></i>
                <p class="m-0 text-uppercase">الدورات
                </p>
                <i class="fa fa-angle-double-left pt-1 px-3"></i>
                
                <p class="m-0 text-uppercase"> تعليم اللغة الانجليزية


                </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <img
            class="img-fluid rounded mb-4 mb-lg-0"
            src="assets/img/eng.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-7">
          <div class="text-right mb-4">
            <h1> تعليم اللغة الانجليزية

            </h1>
          </div>
<p class="text-right">تقدم أكاديمية SEA دورات مختلفة في اللغة الإنجليزية لجميع المستويات مع مراعاة الخصوصية التامة لكل دارس. أيا كان مستواك في اللغة SEA توفر لك الكورس المناسب .تستطيع الاتصال بنا عن طريق الواتساب للاستفسار.</p>   
<button class="btn btn-primary" (click)="navigateToCheck()">Booking Now</button>

        </div>
      </div>
    </div>
  </div>