<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5 footer" >
    <div class="row ">
        <div class="col-lg-7 col-md-12">
            <!-- Content for the upper section -->
            <div class="row">
                <div class="col-md-6 ">
                    <h5 class="text-primary text-uppercase mb-4 text-right" >معلومات عنا</h5>
                    <p><i class="fa fa-map-marker-alt ml-2"></i>القاهرة، مصر

                        المملكة العربية السعودية - جدة
                        
                        United Kingdome
                        Leeds- Yorkshire</p>
                    <p><i class="fa fa-phone-alt ml-2 text-right"></i>Watsapp 00201015145134 ,Watsapp 00966507559834

                    </p>
                    <p><i class="fa fa-envelope ml-2 text-right"></i>hanienglish@gmail.com
                    </p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        
                    </div>
                </div>
                <div class="col-md-6 ">
                    <!-- Section for "Our Courses" -->
                    <h5 class="text-primary text-uppercase mb-4 text-right"> الكورسات</h5>
                    <div class="d-flex flex-column ">
                        <a class="text-white mb-2 text-right" routerLink="medical"><i class="fa fa-angle-left ml-2"></i>المصطلحات الطبية</a>
                        <a class="text-white mb-2 text-right" routerLink="englishMedical"><i class="fa fa-angle-left ml-2"></i>تدريس اللغة الإنجليزية الطبية</a>
                        <a class="text-white mb-2 text-right" routerLink="IELTS"><i class="fa fa-angle-left ml-2"></i>دورات التحضير لامتحان IELTS</a>
                        <a class="text-white mb-2 text-right" routerLink="english"><i class="fa fa-angle-left ml-2"></i>تعليم اللغة الانجليزية</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 ">
            <!-- Section for "Newsletter" -->
            <h5 class="text-primary text-uppercase  text-md-left" style="margin-left: 150px;">موقعنا</h5>
            <!-- <p class="text-right" style="margin-right: 150px;">القاهرة، مصر<br>

                المملكة العربية السعودية - جدة<br>
                
                United Kingdome<br>
                Leeds- Yorkshire</p> -->
            <div class="w-100">
                <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d14366.735177925244!2d-80.126808!3d25.814004!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjXCsDQ4JzUwLjQiTiA4MMKwMDcnMzYuNSJX!5e0!3m2!1sen!2seg!4v1715130571927!5m2!1sen!2seg" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- <small>القاهرة، مصر

                المملكة العربية السعودية - جدة
                
                United Kingdome
                Leeds- Yorkshire</small> -->
            
        </div>
    </div>
</div>

<!-- Footer with LTR direction -->
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;" dir="ltr">
    <div class="row">
        <!-- <div class="col-lg-6  "> -->
<p style="margin-left: 45%;">© جميع الحقوق محفوظة</p>
        <!-- </div> -->
       
    </div>
</div>
