<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase text-right"> دورات التحضير لامتحان IELTS

            </h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">الرئيسية</a></p>
                <i class="fa fa-angle-double-left pt-1 px-3"></i>
                <p class="m-0 text-uppercase">الدورات
                </p>
                <i class="fa fa-angle-double-left pt-1 px-3"></i>
                
                <p class="m-0 text-uppercase"> دورات التحضير لامتحان IELTS

                </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <img
            class="img-fluid rounded mb-4 mb-lg-0"
            src="assets/img/IELTS.png"
            alt=""
          />
        </div>
        <div class="col-lg-7">
          <div class="text-right mb-4">
            <h1>  التحضير لامتحان IELTS

            </h1>
          </div>
<p class="text-right">توفر SEA Academy دورات للإعداد لاختبار الأيلتس بجميع أنواعه سواء العام أو الأكاديمي بطرق سهلة وميسرة. وتقدم الأكاديمية خدمة مجانية حتى بعد انتهاء الكورس وهى متابعة كتابات الطالب وتصحيحها الى موعد الاختبار. جميع طلابنا حصلوا على الدرجات المطلوبة والآن جاء دورك. تستطيع أيضا استرداد الرسوم في حالة عدم الاستفادة من الدرس الأول. يقدم هذه الدورة الدكتور هاني الجندي حاصل على الدكتواره في تدريس اللغة الانجليزية وخبرة طويلة في الإعداد للاختبار. لا تتردد في 
    التواصل معنا والاستفسار عن ما تريد.
    
    تقدم الأكاديمية دورة سريعة لاختبار الأيلتس تتكون من 10 ساعات تدريبية يمكن توزيعها حسب كل دراس على المهارات الأربع للغة</p>  
    
    <button class="btn btn-primary" (click)="navigateToCheck()">Booking Now</button>

        </div>
      </div>
    </div>
  </div>