<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">About</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">About</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/about.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <!-- <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5> -->
                    <h1>من نحن
                    </h1>
                </div>
                <p>أكاديمية اللغة الإنجليزية المتخصصة (SEA) هي أكاديمية لتعليم اللغة الإنجليزية تقدم دورات في:</p>
                <ul class="list-inline text-black m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i> اللغة الإنجليزية العامة للكبار</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>اللغة الإنجليزية العامة للأطفال</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>اللغة الإنجليزية الطبية</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>اللغة الإنجليزية للأعمال</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>دورات تحضيرية لامتحان IELTS</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>المصطلحات الطبية</li>


                </ul>

            </div>
        </div>
    </div>
</div>