<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 my_con">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <h3 class="fs-5 d-none d-sm-inline my_header">لوحة التحكم</h3>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item dropdown">
                        <!-- Dropdown menu for Home -->
                        <a href="#" class="nav-link px-0 align-middle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fs-4 bi-people"></i> <span class="mr-2 d-none d-sm-inline">المدربين</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Dropdown items -->
                            <li><a class="dropdown-item" (click)="showTrainerListHandler()">عرض</a></li>
                            <li><a class="dropdown-item" (click)="showAddTrainerHandler()">اضافه</a></li>
                            <li><a class="dropdown-item" (click)="showDeleteTrainerHandler()">حذف</a></li>
                        </ul>
                    </li>
                    
                    <!-- Other menu items -->
                    <li class="nav-item dropdown">
                        <!-- Dropdown menu for Home -->
                        <a href="#" class="nav-link px-0 align-middle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fs-4 bi-people"></i> <span class="mr-2 d-none d-sm-inline">الطلبة</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Dropdown items -->
                            <li><a class="dropdown-item" (click)="showTraineeListHandler()">عرض</a></li>
                            <!-- <li><a class="dropdown-item" (click)="showAddTraineeHandler()">اضافه</a></li> -->
                            <li><a class="dropdown-item" (click)="showDeleteTraineeHandler()">حذف</a></li>
                        </ul>
                    </li>
                  
                    <li class="nav-item dropdown">
                        <!-- Dropdown menu for Home -->
                        <a href="#" class="nav-link px-0 align-middle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fs-4 bi-grid"></i> <span class="mr-2 d-none d-sm-inline">الشكاوى</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Dropdown items -->
                            <li><a class="dropdown-item" (click)="showCoursesListHandler()">عرض</a></li>
                            <!-- <li><a href="#" class="dropdown-item">اضافه</a></li> -->
                            <li><a (click)="showDeleteCourseHandler()" class="dropdown-item">حذف</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                      <!-- Dropdown menu for Home -->
                      <a href="#" class="nav-link px-0 align-middle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fs-4 bi-chat"></i> <span class="mr-2 d-none d-sm-inline">قالو عنا</span>
                      </a>
                      <ul class="dropdown-menu">
                          <!-- Dropdown items -->
                          <li><a class="dropdown-item" (click)="showTellingUsListHandler()">عرض</a></li>
                          <li><a class="dropdown-item" (click)="showAddTellingUsHandler()">اضافه</a></li>
                          <li><a class="dropdown-item" (click)="showDeleteTellingUsHandler()">حذف</a></li>
                      </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <!-- Dropdown menu for Home -->
                    <a href="#" class="nav-link px-0 align-middle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fs-4 bi-people"></i> <span class="mr-2 d-none d-sm-inline">صورنا</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Dropdown items -->
                        <li><a class="dropdown-item" (click)="showTrainerListHandler()">عرض</a></li>
                        <li><a class="dropdown-item" (click)="showAddTrainerHandler()">اضافه</a></li>
                        <li><a class="dropdown-item" (click)="showDeleteTrainerHandler()">حذف</a></li>
                    </ul>
                </li>
                    
                  
                </ul>
                <hr>
            </div>
        </div>

        <!-- Main content -->
        <div class="col py-3">


            <!-- // Show Trainer List -->

            <div *ngIf="showTrainerList" class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                     
                      <th>Serial Number</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Rate</th>
                      <th>Country</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of trainers" >
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item.rate}}</td>
                      <td>{{item.country}}</td>
                      <!-- <td><img [src]="item.imageUrl" width="40px" height="40px"></td> -->
                      <!-- <td>{{item.imageFile}}</td> -->
                      <td>{{item.price}}</td>

                    </tr>
                
                      <!-- <td>{{item.imageFile}}</td> -->
                    <!-- </tr> -->
                  </tbody>
                </table>
              </div>


              <!-- // Delete Trainer List -->

              <div *ngIf="showDeleteTrainer" class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>الرقم التسلسلي</th>
                      <th>الأسم</th>
                      <th>الوصف</th>
                      <th>التقييم</th>
                      <th>البلد</th>
                      <th>الصورة</th>
                      <th>حذف</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of trainers">
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item.rate}}</td>
                      <td>{{item.country}}</td>
                      <td><img [src]="item.imageUrl" width="40px" height="40px"></td>
                      <td><button class="btn btn-danger" (click)="deletenewsById(item.id)">حذف </button></td>
                    </tr>
                   
                   
                  </tbody>
                </table>
              </div>


              <!-- // Add Trainer List -->

              <div class="container-fluid py-5" *ngIf="showAddTrainer">
                <div class="container py-5">
                  <div class="text-center mb-5">
                 
                    <h4>أضافة مدرب.</h4>
                  </div>
              
                  
                  <div class="row justify-content-center ">
                    <div class="col-lg-8">
                      <div class="contact-form my_form rounded p-5">
                        <div id="success"></div>
                        <form name="sentMessage" [formGroup]="trainerForm"
                        (ngSubmit)="onSubmit()"
                        action="#" id="contactForm" novalidate="novalidate">
                          <div class="control-group">
                            <input
                              type="text"
                              class="form-control border-0 p-4"
                              id="name"
                              placeholder="الاسم"
                              required="required"
                              formControlName="name"
                              data-validation-required-message="Please enter your name"
                            />
                            <p class="help-block text-danger"></p>
                          </div>
                         
                       

                          <div class="control-group">
                            <input
                              type="text"
                              class="form-control border-0 p-4"
                              id="description"
                              placeholder="الوصف"
                              formControlName="description"
                              required="required"
                              data-validation-required-message="Please enter your email"
                            />
                            <p class="help-block text-danger"></p>
                          </div>

                          <div class="control-group">
                            <input
                              type="text"
                              class="form-control border-0 p-4"
                              id="country"
                              placeholder="بلد"
                              required="required"
                              formControlName="country"
                              data-validation-required-message="Please enter your country"
                            />
                            <p class="help-block text-danger"></p>
                          </div>
                          <div class="control-group">
                            <input
                              type="text"
                              class="form-control border-0 p-4"
                              id="price"
                              placeholder="السعر"
                              name="price"
                              required="required"
                              formControlName="price"
                              data-validation-required-message="Please enter price"
                            />
                            <p class="help-block text-danger"></p>
                          </div>
                          <div class="control-group">
                            <input
                              type="number"
                              class="form-control border-0 p-4"
                              id="rate"
                              placeholder="تقييم"
                              required="required"
                              max="5"
                              min="0"
                              formControlName="rate"
                              data-validation-required-message="Please enter rate"
                            />
                            <p class="help-block text-danger"></p>
                          </div>
                        
                          <div class="control-group">
                            <input class="form-control border-0 p-4" name="imageFile"                
                   formControlName="imageFile"
                type="file" id="imageFile" (change)="handleFileInput($event)">
                          </div>
                         
                          <div class="text-center">
                            <button
                              class="btn btn-primary py-3 px-5"
                              type="submit"
                              
                            >
                              حفظ
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
              
              
                </div>
              </div>
              

              <!-- TECH SUPPORT PART -->
              <div *ngIf="showCoursesList" class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Serial Number</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Message</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of contactSupport" >
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.message}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>


              <!-- // Delete Trainer List -->

              <div *ngIf="showDeleteCourses" class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Serial Number</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Message</th>
                      <th>حذف</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of contactSupport">
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.message}}</td>
                      <td><button class="btn btn-danger" (click)="deleteContactSupportById(item.id)">حذف </button></td>
                    </tr>
                  </tbody>
                </table>
              </div>


              <!-- // Add Trainer List -->

              <div class="container-fluid py-5" *ngIf="showAddTrainer">
                <div class="container py-5">
                  <div class="text-center mb-5">
                 
                    <h4>أضافة مدرب.</h4>
                  </div>
              
                  
                  <div class="row justify-content-center ">
                    <div class="col-lg-8">
                      <div class="contact-form my_form rounded p-5">
                        <div id="success"></div>
                        <form name="sentMessage" [formGroup]="trainerForm"
                        (ngSubmit)="onSubmit()"
                        action="#" id="contactForm" novalidate="novalidate">
                          <div class="control-group">
                            <input
                              type="text"
                              class="form-control border-0 p-4"
                              id="name"
                              placeholder="الاسم"
                              required="required"
                              formControlName="name"
                              data-validation-required-message="Please enter your name"
                            />
                            <p class="help-block text-danger"></p>
                          </div>
                       

                          <div class="control-group">
                            <input
                              type="text"
                              class="form-control border-0 p-4"
                              id="description"
                              placeholder="الوصف"
                              formControlName="description"
                              required="required"
                              data-validation-required-message="Please enter your description"
                            />
                            <p class="help-block text-danger"></p>
                          </div>

                          <div class="control-group">
                            <input
                              type="number"
                              class="form-control border-0 p-4"
                              id="Rate"
                              placeholder="تقييم"
                              formControlName="Rate"
                              required="required"
                              data-validation-required-message="Please enter your Rate"
                            />
                            <p class="help-block text-danger"></p>
                          </div>

                          <div class="control-group">
                            <input
                              type="text"
                              class="form-control border-0 p-4"
                              id="country"
                              placeholder="بلد"
                              required="required"
                              formControlName="country"
                              data-validation-required-message="Please enter your country"
                            />
                            <p class="help-block text-danger"></p>
                          </div>
                        
                          <div class="control-group">
                            <input class="form-control border-0 " name="imageFile"                
                   formControlName="imageFile"
                type="file" id="imageFile" (change)="handleFileInput($event)">
                          </div>
                         
                          <div class="text-center pt-3">
                            <button
                              class="btn btn-primary py-3 px-5"
                              type="submit"
                              
                            >
                              حفظ
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
              
              
                </div>
              </div>


        
              <!-- // Show Trainee List -->

              <div *ngIf="showTraineeList" class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Serial Number</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Rate</th>
                      <th>Payment way</th>


                    </tr>
                  </thead>
                  <tbody>
                   
                    <tr *ngFor="let item of traineeArray">
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.phoneNumber}}</td>
                      <td>{{item.rate}}</td>
                      <td>{{item.paymentWay}}</td>
                    </tr>
                 
                  </tbody>
                </table>
              </div>


              <!-- // Delete Trainee List -->

              <div *ngIf="showDeleteTrainee" class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>الرقم التسلسلي</th>
                      <th>عنوان الخبر</th>
                      <th>الخبر</th>
                      <th>الصورة</th>
                      <th>حذف</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr >
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.title}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item.imageUrl}}</td>
                    </tr> -->
                    <tr>
                      <th scope="row">1001</th>
                      <td>Mark Otto</td>
                      <td>Japan</td>
                      <td>Trainee</td>
                      <td><button class="btn btn-danger">حذف </button></td>

                    </tr>
                    <tr>
                      <th scope="row">1001</th>
                      <td>Mark Otto</td>
                      <td>Japan</td>
                      <td>Html</td>
                      <td><button class="btn btn-danger">حذف </button></td>

                    </tr>
                  </tbody>
                </table>
              </div>


              <!-- // Add Trainee List -->

              <div class="container-fluid py-5" *ngIf="showAddTrainee">
                <div class="container py-5">
                  <div class="text-center mb-5">
                 
                    <h4>أضافة متدرب.</h4>
                  </div>
              
                  
                  <div class="row justify-content-center ">
                    <div class="col-lg-8">
                      <div class="contact-form my_form rounded p-5">
                        <div id="success"></div>
                        <form name="sentMessage"  [formGroup]="trainerForm"
                        (ngSubmit)="onSubmit()" novalidate="novalidate">
                          <div class="control-group">
                            <input
                              type="text"
                              class="form-control border-0 p-4"
                              id="name"
                              placeholder="الاسم"
                              required="required"
                              data-validation-required-message="Please enter your name"
                            />
                            <p class="help-block text-danger"></p>
                          </div>
                          <div class="control-group">
                            <input
                              type="email"
                              class="form-control border-0 p-4"
                              id="email"
                              placeholder="البريد الالكروني"
                              required="required"
                              data-validation-required-message="Please enter your email"
                            />
                            <p class="help-block text-danger"></p>
                          </div>

                          <div class="control-group">
                            <input
                              type="text"
                              class="form-control border-0 p-4"
                              id="course"
                              placeholder="الكورس "
                              required="required"
                              data-validation-required-message="Please enter your email"
                            />
                            <p class="help-block text-danger"></p>
                          </div>
                        
                         
                          <div class="text-center">
                            <button
                              class="btn btn-primary py-3 px-5"
                              type="submit"
                              id="sendMessageButton"
                            >
                              حفظ
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

        </div>
    </div>

                     <!-- Add Telling US  -->

                     <div class="container-fluid py-5" *ngIf="showAddTellingUs">
                      <div class="container py-5">
                        <div class="text-center mb-5">
                       
                          <h4>أضافة راي متدرب.</h4>
                        </div>
                    
                        
                        <div class="row justify-content-center ">
                          <div class="col-lg-8">
                            <div class="contact-form my_form rounded p-5">
                              <div id="success"></div>
                              <form name="sentMessage" (ngSubmit)="submitOpinionForm()" id="contactForm" novalidate="novalidate">

                                <div class="control-group">
                                  <input
                                    type="text"
                                    class="form-control border-0 p-4"
                                    id="option"
                                    name="opinion" 
                                    placeholder="الراي"
                                    required
                                    [(ngModel)]="formData.opinion"
                                    data-validation-required-message="Please enter your option"
                                  />
                                  <p class="help-block text-danger"></p>
                                </div>
                              
                                <div class="control-group">
                                  <input
                                    type="text"
                                    class="form-control border-0 p-4"
                                    id="who"
                                    name="sender" 
                                    placeholder="من المرسل"
                                    [(ngModel)]="formData.sender"
                                    required
                                    data-validation-required-message="Please enter who"
                                  />
                                  <p class="help-block text-danger"></p>
                                </div>
                              
                                <div class="text-center">
                                  <button
                                    class="btn btn-primary py-3 px-5"
                                    type="submit"
                                  >
                                    حفظ
                                  </button>
                                </div>
                              </form>

                            </div>
                          </div>
                        </div>
                    
                    
                      </div>
                    </div>


</div>
