.whatsapp-link {
    /* position: fixed; */
    right: 20px; 
    top: 400px;
    z-index: 1000; 
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .whatsapp-link img {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
  }
  